@use './mixin';

.load-fail {
  color: var(--grey-4);
}

// 主容器
.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: calc(100% - 0.625rem);
  padding: 0 0.8rem 0.8rem 0.8rem;
  margin: 1rem auto 0;
  animation: fadeInUp 1s;
}

// 首页左侧容器
.left-container {
  width: calc(100% - 18.75rem);
  box-shadow: 0 0 1rem var(--box-bg-shadow);
  border-radius: 0.5rem;
  transition: all 0.3s;
  padding: 0.5rem 0;
}

// 首页右侧容器
.right-container {
  position: sticky;
  top: 1rem;
  width: 18rem;
  margin-left: 0.8rem;
}

// 侧边栏卡片
.side-card {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem var(--box-bg-shadow);
  transition: all 0.2s ease-in-out 0s;

  &:not(:first-child) {
    margin-top: 1.25rem;
  }

  &:hover {
    box-shadow: 0 2rem 5rem var(--box-bg-shadow);
    scale: 1.02 1.02;

    .card-title::before {
      background-color: var(--primary-color);
    }
  }

  .card-title {
    font-size: 1.2em;
    display: flex;
    align-items: center;

    .svg-icon {
      margin-right: 0.5rem;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 0.25rem;
      height: 25px;
      margin-right: 10px;
      background-color: var(--primary-color-darker);
    }
  }
}

.width-100 {
  width: 100%;
}

.display-none {
  display: none;
  //width: 0;
}

.bg {
  background-color: var(--grey-0);
}

.bg-gray {
  background-color: var(--grey-3);
}

// 子页面的顶部
.page-header {
  position: relative;
  width: 100%;
  height: 70vh;
  background: var(--primary-color) no-repeat center center / cover;
  z-index: -9;

  // 遮罩层
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    transition: all .2s ease-in-out 0s;
  }
}

// 子页面顶部标题
.page-title {
  @include mixin.flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 50vh;
  min-height: 10rem;
  padding: 4rem 5rem 0;
  font-size: 2.5em;
  color: var(--header-text-color);
  animation: zoomIn 1s;
  z-index: 1;
}

// 子页面顶部封面
.page-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

// 子页面主容器
.page-container {
  position: relative;
  width: calc(100% - 0.625rem);
  min-height: calc(30vh - 3rem);
  margin: 1.5rem auto;
  padding: 1.75rem 2.25rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 1rem var(--box-bg-shadow);
  animation: slideUpIn 1s;
}

@media (min-width: 1200px) {
  .main-container {
    width: 74.4rem;
  }

  .page-container {
    width: 60.5rem;
  }
}

@media (max-width: 767px) {
  .page-container {
    padding: 1rem 0.875rem;
  }

  .page-title {
    font-size: 2rem;
    padding: 3rem 0.5rem 0;
  }
}

@media (max-width: 991px) {
  .main-container {
    padding-left: 0;
    padding-right: 0;
  }

  .left-container {
    width: 100%;
  }

  .right-container {
    display: none;
    width: 100%;
  }
}

.underline-a {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--primary-color);
  color: var(--primary-color);
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.6;
    color: var(--primary-color);
  }
}

.card-shadow {
  box-shadow: 0 0.625rem 1.875rem -0.9375rem var(--box-bg-shadow);

  &:hover {
    box-shadow: 0 0 2rem var(--box-bg-shadow);
  }
}

.n-pagination-item:hover,
.n-pagination-item--active {
  color: var(--grey-0) !important;
  background-image: linear-gradient(to right, var(--color-pink) 0, var(--color-orange) 100%) !important;
  box-shadow: 0 0 .75rem var(--color-pink-a3) !important;
  border: none !important;
}

.n-pagination .n-pagination-item {
  color: var(--grey-5);
}

.pagination {
  justify-content: center;
  padding: 1.25rem 3.125rem;
}

.author-info {
  @include mixin.flex;
  flex-direction: column;

  .author-avatar {
    box-shadow: 0 0 2rem 0.2rem var(--body-bg-shadow);
    border: 0.1rem solid var(--grey-0);
    animation: 0.5s ease-in-out 0ms 1 normal forwards running blur;
    -webkit-animation: 0.5s ease-in-out 0ms 1 normal forwards running blur;

    &:hover {
      animation: 1s ease 0ms 1 normal none running author-shake;
      -webkit-animation: 1s ease 0ms 1 normal none running author-shake;
    }
  }

  .author-name {
    margin-top: 0.5rem;
    font-weight: 800;
    font-size: 1.4rem;
    text-align: center;
    color: var(--primary-color);

    &:hover {
      animation: rubberBand 1s ease-in-out;
    }

  }

  .site-intro {
    margin-top: 0.5rem;
    font-size: 1em;
    text-align: center;
    color: var(--primary-color-darker);

    &:hover {
      animation: jello 1s ease-in-out;
    }
  }
}

.article-tag-category {
  display: inline-block;
  position: relative;
  font-size: 0.75em;
  padding: 0 0.3125rem;
  border-radius: 0.3125rem;
  background: var(--note-bg);
  color: var(--note-text);

  &:not(:last-child) {
    margin-right: 0.625rem;
  }

  &:hover {
    color: #e9546b;

    &:before {
      width: 104%;
      left: -2%;
    }
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 0;
    right: 0;
    background: var(--color-red-a1);
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out 0s;
  }
}

/* 加载更多按钮 */
.loading-wrap {
  @include mixin.flex;
  margin: 1rem 0 0.5rem 0;

  .loading-btn {
    letter-spacing: 1.25px;
    color: var(--grey-0) !important;
    background-image: linear-gradient(to right, var(--color-pink) 0, var(--color-orange) 100%);
  }
}

/* 点赞 */
.like-flag {
  color: var(--primary-color);
}

/** 说说 */
.talk-nickname {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 600;
  margin-right: 0.3125rem;
  color: #ef89c6;
}

.talk-content {
  margin-top: 0.3125rem;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-line;
}

.talk-image {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-top: 0.3125rem;

  .image {
    max-width: 16.5rem;
    max-height: 12.5rem;
    padding: 0.0625rem;
    border-radius: 0.25rem;
    margin: 0.125rem;
    cursor: pointer;
    object-fit: cover;
    overflow: hidden;
  }
}

.talk-time,
.talk-like,
.talk-comment {
  font-size: 0.8125rem;
  margin-right: 1.25rem;
  color: #9499a0;
}

::selection {
  color: #fff;
  background-color: var(--color-red-a5);
}

::-moz-selection {
  color: #fff;
  background-color: var(--color-red-a5);
}