.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: calc(100% - 0.625rem);
  padding-bottom: 1.75rem;
  margin: 1rem auto 0;
  animation: fadeInUp 1s;
}

.left-container {
  width: calc(100% - 18.75rem);
  box-shadow: 0 0 1rem var(--box-bg-shadow);
  border-radius: 0.5rem;
  transition: all 0.3s;
  padding: 0.5rem 0;
}

.right-container {
  position: sticky;
  top: 1rem;
  width: 18rem;
  margin-left: 0.8rem;
  margin-right: 0.5rem;
}

// 侧边栏卡片
.side-card {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem var(--box-bg-shadow);
  transition: all 0.2s ease-in-out 0s;

  &:not(:first-child) {
    margin-top: 1.25rem;
  }

  &:hover {
    box-shadow: 0 2rem 5rem var(--box-bg-shadow);
    scale: 1.02 1.02;

    .card-title::before {
      background-color: var(--primary-color);
    }
  }
}

.card-title {
  font-size: 1.2em;
  display: flex;
  align-items: center;

  .svg-icon {
    margin-right: 0.5rem;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 0.25rem;
    height: 25px;
    margin-right: 10px;
    background-color: var(--primary-color-darker);
  }
}

.bg {
  background-color: var(--grey-0);
}

.bg-gray {
  background-color: var(--grey-3);
}

@media (min-width: 1200px) {
  .main-container {
    width: 72.5rem;
  }
}

@media (max-width: 991px) {
  .left-container {
    width: 100%;
  }

  .right-container {
    display: none;
    width: 100%;
  }
}

.underline-a {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--primary-color);
  color: var(--primary-color);
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.6;
    color: var(--primary-color);
  }
}

.card-shadow {
  box-shadow: 0 0.625rem 1.875rem -0.9375rem var(--box-bg-shadow);

  &:hover {
    box-shadow: 0 0 2rem var(--box-bg-shadow);
  }
}

.n-pagination-item:hover,
.n-pagination-item--active {
  color: var(--grey-0) !important;
  background-image: linear-gradient(to right, var(--color-pink) 0, var(--color-orange) 100%) !important;
  box-shadow: 0 0 .75rem var(--color-pink-a3) !important;
  border: none !important;
}

.n-pagination .n-pagination-item {
  color: var(--grey-5);
}

.pagination {
  justify-content: center;
  padding: 1.25rem 3.125rem;
}

