@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin card-shadow {
  box-shadow: 0 0.625rem 1.875rem -0.9375rem var(--box-bg-shadow);

  &:hover {
    box-shadow: 0 0 2rem var(--box-bg-shadow);
    scale: 1.005 1.005;
  }
}

@mixin none-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}