<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juliy.mapper.ArticleMapper">

    <resultMap id="articleAdminVO" type="com.juliy.model.vo.ArticleAdminVO">
        <id column="id" property="id"/>
        <result column="article_cover" property="articleCover"/>
        <result column="article_title" property="articleTitle"/>
        <result column="article_type" property="articleType"/>
        <result column="category_name" property="categoryName"/>
        <result column="is_top" property="isTop"/>
        <result column="is_featured" property="isFeatured"/>
        <result column="is_delete" property="isDelete"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <collection property="tagList"
                    ofType="com.juliy.model.vo.TagOptionVO">
            <id column="tag_id" property="id"/>
            <result column="tag_name" property="tagName"/>
        </collection>
    </resultMap>

    <select id="countArticlesAdmin" resultType="java.lang.Long">
        SELECT COUNT(DISTINCT a.id)
        FROM t_article a
        LEFT JOIN t_article_tag tat on a.id = tat.article_id
        <where>
            <if test="condition.isDelete != null">
                and is_delete = #{condition.isDelete}
            </if>
            <if test="condition.keywords != null">
                and article_title like concat('%',#{condition.keywords},'%')
            </if>
            <if test="condition.status != null">
                and `status` = #{condition.status}
            </if>
            <if test="condition.articleType != null">
                and article_type = #{condition.articleType}
            </if>
            <if test="condition.categoryId != null">
                and category_id = #{condition.categoryId}
            </if>
            <if test="condition.tagId != null">
                and tat.tag_id = #{condition.tagId}
            </if>
        </where>
    </select>

    <select id="selectArticlesAdmin" resultMap="articleAdminVO">
        SELECT a.id,
        article_cover,
        article_title,
        article_type,
        category_name,
        is_top,
        is_featured,
        a.is_delete,
        a.`status`,
        a.create_time,
        t.id AS tag_id,
        t.tag_name
        FROM
        (SELECT id,
        article_cover,
        category_id,
        article_title,
        article_type,
        is_top,
        is_featured,
        is_delete,
        `status`,
        create_time
        FROM t_article
        <where>
            is_delete = #{condition.isDelete}
            <if test="condition.keywords != null">
                and article_title like concat('%',#{condition.keywords},'%')
            </if>
            <if test="condition.status != null">
                and `status` = #{condition.status}
            </if>
            <if test="condition.categoryId != null">
                and category_id = #{condition.categoryId}
            </if>
            <if test="condition.articleType != null">
                and article_type = #{condition.articleType}
            </if>
            <if test="condition.tagId != null">
                and id in (SELECT article_id
                FROM t_article_tag
                WHERE tag_id =#{condition.tagId})
            </if>
        </where>
        ORDER BY is_top DESC,
        is_featured DESC,
        id DESC
        LIMIT #{limit}, #{size}
        ) a
        LEFT JOIN t_category c ON a.category_id = c.id
        LEFT JOIN t_article_tag tat ON a.id = tat.article_id
        LEFT JOIN t_tag t ON t.id = tat.tag_id
    </select>
    <select id="selectArticleInfoById"
            resultType="com.juliy.model.vo.ArticleInfoVO">
        SELECT id,
               article_cover,
               article_title,
               article_content,
               article_type,
               category_id,
               is_top,
               is_featured,
               `status`
        FROM t_article a
        WHERE id = #{articleId}
    </select>

</mapper>