<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juliy.mapper.MessageMapper">
    <select id="selectMessageList" resultType="com.juliy.model.vo.MessageVO">
        SELECT id, nickname, avatar, message_content
        from t_message
        WHERE is_check = 1
    </select>

    <select id="selectMessageAdminList" resultType="com.juliy.model.vo.MessageAdminVO">
        SELECT
        tm.id,
        nickname,
        avatar,
        message_content,
        ip_address,
        ip_source,
        is_check,
        create_time
        FROM
        (SELECT id FROM t_message
        <where>
            <if test="condition.keywords!=null">
                nickname like concat('%',#{condition.keywords},'%')
            </if>
            <if test="condition.isCheck!=null">
                is_check = #{condition.isCheck}
            </if>
        </where>
        ORDER BY id DESC
        LIMIT #{current},#{size}) temp
        LEFT JOIN t_message tm ON temp.id = tm.id
    </select>
</mapper>